body {
    font-family: 'Poppins', sans-serif;
    color: #444444;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;

    .container {
        width: 1200px;
    }
}